<div class="container">
    <h1>Your Trips</h1>
    <%= link_to "Add a new trip", new_trip_path, class: "btn btn-primary" %>
    <br><br>
   
    <% @trips.each do |trip| %>
        <div class="card">
            <div class="card-body">
                <p><%=link_to "Trip to #{trip.destination}", trip_path(trip) %></p>
                <p>From: <%= trip.start_date %></p>
                <p>To: <%= trip.end_date %></p>
                <p>Owner ID: <%= trip.owner.id %></p>
            </div>
        </div>
    <% end %>
</div>